:root {
    --base: #ffc600;
    --spacing: 10px;
    --blur: 10px;
}


* {
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
}
*, *:before, *:after {
    box-sizing: inherit;
}
html {
    background: #0e0e0e;
    color: #fffff0;
}

.panels {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
}

.panel {
    background: #6b0f9c;
    box-shadow: inset 0 0 0 a5px rgpa(255,255,255,01);
    color: #fffff0;
    text-align: center;
    align-items: center;
    transition:
        font-size 0.7s cubic-bezier(0.59,-0.26, 0.56, 1.11),
        flex 0.7s cubic-bezier(0.59,-0.26, 0.56, 1.11),
        background 0.2s;
    /*transition-timing-function: cubic-bezier(0.59,-0.26, 0.56, 1.11);*/
    font-size: 20px;
    background-size: cover;
    background-position: center;
    background-image: url(./../images/dog1.jpg);
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.panel:nth-of-type(2) {
    background-image: url(./../images/dog2.jpg);
}
.panel:nth-of-type(3) {
    background-image: url(./../images/dog3.jpg);
}
.panel:nth-of-type(4) {
    background-image: url(./../images/dog4.jpg);
}
.panel:nth-of-type(5) {
    background-image: url(./../images/dog5.jpg);
}

.panel > * {
    width: 100%;
    transition: transform 0.5s;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel > *:first-child{ transform: translateY(-100%); }
.panel.open-active > *:first-child { transform: translateY(0); }
.panel > *:last-child{ transform: translateY(100%); }
.panel.open-active > *:last-child { transform: translateY(0); }

.panel p {
    text-transform: uppercase;
    text-shadow: 0 0 4px rgpa(0,0,0,0.72), 0 0 14px rgba(0,0,0,0.45);
    font-size: 2em;
}

.panel p:nth-child(2){
    font-size: 4em;
}

.panel.open {
    flex: 3.5;
    font-size: 40px;
}

.cta {
    color: #fffff0;
    text-decoration: none;
}